/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

/* :root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f95454;
  --secondary-color-dark: #bc3b3b;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
} */

/* body {
  background-color: #111317;
  color: white; 
} */
/* nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo {
  max-width: 150px;
}


.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--white);
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.link a:hover::after {
  width: 50%;
} */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#000;
    font-family: "poppins",sans-serif;
    overflow-x: hidden;
}
@media screen and (min-width:350px) and (max-width:1200px) {
    body{
       
        overflow-x: hidden;
    }
    
 }
/* .video{
    height: 400px;
    width: 1200px;
    border-radius: 20px;
    margin-left: 30px;
} */
/* .nav{
  background-color: #d74747;
  height: 50px;
  width: 1500px;
  margin-top: -20px;
  } */
.video{
    width: 1440px;
    height: 700px;
    margin-top: -140px;
background-color: black;
width: 1500px;
}
@media screen and (min-width:350px) and (max-width:1200px) {
    .video{
        height: 350px;
        width: 350px;
        margin-left: 10px;
    }
    
 }
.gym-text{
   font-size: 50px;
   font-weight: 600px;
   color: white;
   text-align: center;
   margin-top: 50px;
   padding-bottom: 100px;
   cursor: pointer;
   transition: 2s;
}
@media screen and (min-width:350px) and (max-width:1200px) {
    .gym-text {
       font-size: 25px;
       text-align: center;
       margin-top: 50px;
    }
    
 }

/* .gym-text:hover{
    transform: scale(1.1);
  
} */
.bg1{
    background-color: black;
    height: 880px;
    width: 1496px;
    margin-top: -130px;
}
/* @media screen and (min-width:350px) and (max-width:1200px) {
    .bg1{
       background-color: black;
       height: 140px;
       width: 150px;

                    
    }
    
 } */
.gym-text1{
    font-size: 40px;
    color:white;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
@media screen and (min-width:350px) and (max-width:1200px) {
    .gym-text1{
        font-size: 20px;
        margin-left: -1100px;
                    
    }
    
 }
 .img {
    margin-top: -10px;
    margin-left: 100px;
    height: 660px;
    width: 1300px;
}
@media screen and (max-width:1200px) {
    .img {
        margin-top: 10px;
        margin-left: 36px;
        height: 200px;
        width: 300px;
    }
    
 }
 
.woman-img{
    height: 550px;
    width: 450px;
    margin-top: -990px;
    margin-left: 280px;
}
@media screen and (min-width:350px) and (max-width:1200px) {
    .woman-img{
        height: 550px;
        width: 50px;
        margin-top: -990px;
        margin-left: 280px;
    }
    
 } 
.man-img{
    height: 550px;
    width: 450px;
    margin-top: -1190px;
    margin-left: 910px;
}


/* .woman-img {
    height: 550px;
    width: 450px;
    margin-top: -990px;
    margin-left: 280px;
}

.man-img {
    height: 550px;
    width: 450px;
    margin-top: -1190px;
    margin-left: 910px;
} */
.text{
    font-size: 80px;
    font-style: oblique;
    text-align: center;
    color: darkred;
    font-weight: 600px;
    margin-top: 30px;
    margin-left: 60px;
}
.service{
text-align: center;
font-size: 50px;
color: white;
margin-top: -43px;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .service{
        text-align: center;
        font-size: 30px;
        color: white;
        margin-top: -570px;
        } 
}
.cardio-img{
    margin-left: 120px;
    border-radius: 20px;
    height: 390px;
    width: 630px;
    cursor: pointer;
    transition: 2s;
    margin-top: 20px;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-img{
        margin-left: 20px;
        border-radius: 20px;
        height: 180px;
        width: 130px;
        cursor: pointer;
        transition: 2s;
        margin-top: 20px;
    }
}
.cardio-img:hover{
    transform: scale(1.1);
}
.cardio-text{
    font-size: 40px;
    margin-left: 810px;
    color: white;
    margin-top: -350px;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-text{
        font-size: 10px;
        margin-left: 190px;
        color: white;
        margin-top: -170px;
    }
}
.cardio-para{
    margin-left: 790px;
    color: white;
    font-size: 18px;
    margin-right: 120px;

}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-para{
        font-size: 10px;
        margin-left: 190px;
        color: white;
        margin-right: 50px;
        /* margin-top: -auto70px; */
    }
}
.cardio-img1{
    margin-left: 800px;
    border-radius: 20px;
    margin-top: 90px;
    height: 390px;
    width: 630px;
    cursor: pointer;
    transition: 2s;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-img1{
        margin-left: 220px;
        border-radius: 20px;
        height: 180px;
        width: 130px;
        cursor: pointer;
        transition: 2s;
        margin-top: 10px;
    }
}
.cardio-img1:hover{
    transform: scale(1.1);
}
.cardio-text1{
    font-size: 40px;
    margin-left: 140px;
    color: white;
    margin-top: -250px;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-text1{
        font-size: 10px;
        margin-left: 20px;
        color: white;
        margin-top: -150px;
    }
}
.cardio-para1{
    margin-left: 140px;
    color: white;
    font-size: 18px;
    margin-right: 780px;
    margin-top: 20PX;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-para1{
        font-size: 10px;
        margin-left: 15px;
        color: white;
        margin-right: 190px;
        /* margin-top: -auto70px; */
    }
} 
.cardio-img2{
    margin-left: 120px;
    border-radius: 20px;
    margin-top: 50px;
    height: 390px;
    width: 630px;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-img2{
        margin-left: 20px;
        border-radius: 20px;
        height: 180px;
        width: 130px;
        cursor: pointer;
        transition: 2s;
        margin-top: 20px;
    }
}
.cardio-text2{
    font-size: 40px;
    margin-left: 810px;
    color: white;
    margin-top: -260px;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-text2{
        font-size: 10px;
        margin-left: 180px;
        color: white;
        margin-top: -170px;
    }
}
.cardio-para2{
    margin-left: 790px;
    color: white;
    font-size: 18px;
    margin-right: 120px;
} 
@media screen and (min-width:350px) and (max-width:1200px){
    .cardio-para2{
        font-size: 10px;
        margin-left: 180px;
        color: white;
        margin-right: 50px;
        /* margin-top: -auto70px; */
    }
}

.flex{
    display: flex;
    white-space: 20px;
}
.flex-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.main{
    font-size: 50px;
   font-weight: 600px;
   color: white;
   text-align: center;
   margin-top: 170px;
   padding-bottom: 100px;
   cursor: pointer;
   transition: 2s;
}
@media screen and (min-width:350px) and (max-width:1200px){
    .main{
        font-size: 30px;
       font-weight: 600px;
       color: white;
       text-align: center;
       margin-top: 90px;
       padding-bottom: 100px;
       cursor: pointer;
       transition: 2s;
    }  
}
.galary{
    display: flex;
    justify-content: space-evenly;
    margin-left: 35px;
    margin-right: 35px;
}
@media screen and (min-width:350px)and (max-width:1200px){
    .galary{
        display: flex;
        justify-content: space-evenly;
        margin-left: 15px;
        margin-right: 35px;
    } 
}
.gal-img{
    height: 250px;
    width: 380px;
    margin-top: -70px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
border: 2px solid transparent ;
}
@media screen and (min-width:350px)and (max-width:1200px){
    .gal-img{
        height: 100px;
        width: 100px;
        margin-top: -100px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
    border: 2px solid transparent ;
    } 
}
.gal-img:hover{
    transform: scale(0.9);
    background-color:#35373b;
    border-color:  #d74747;;
}
.galary1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 120px;
}
@media screen and (min-width:350px)and (max-width:1200px){
    .galary1{
        display: flex;
        justify-content: space-evenly;
        margin-left: 15px;
        margin-right: 35px;
    } 
}
/* Footer section */
.footer-container {
    background-color: #111317;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
    margin-top: 30px;
  }
  
  .footer__logo {
    max-width: 150px;
    margin-bottom: 2rem;
  }
  
  .footer__col p {
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: none;
    /* margin-top: 40px; */
  }
  
  .footer__socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 100%;
    transition: 0.3s;
  }
  
  .footer__socials a:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }
  
  .footer-content h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  
  .footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .footer__col > a {
    display: block;
    margin-bottom: 1rem;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .footer__col > a:hover {
    color: var(--secondary-color);
  }
  
  .footer__bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--white);
  }
  
  .footer__bar {
    margin-left: 145px;
  }
  
  .footer__col a {
    text-decoration: none;
  }
  
  .footer__col a:hover {
    text-decoration: underline var(--secondary-color);
  }
  
  @media screen and (max-width: 1024px) and (min-width:767px) {
    .footer-container {
      flex-direction: column; 
      height: auto; 
      padding: 0 5%;
    }
    .footer__col {
      margin-bottom: 2rem;
      text-align: center;

    }
  
    .footer__col h4 {
      font-size: 1.1rem; 
    }
    .footer__socials {
      justify-content: center;
      margin-top: 1rem;
    }
  
    .footer__socials a {
      font-size: 1rem; 
      padding: 8px;
    }
  
    .footer__col > a {
      font-size: 0.9rem; 
    }
  
    .footer__bar {
      font-size: 0.75rem; 
    }
  }
  @media screen and (max-width: 767px) and (min-width:350px) {
    .footer-container {
      flex-direction: column; 
      height: auto;
      padding: 0 5%; 
    }
    .footer__col {
      margin-bottom: 2rem;
      text-align: center;
    }
  
    .footer__col h4 {
      font-size: 1.1rem; 
    }
  
    .footer__socials {
      justify-content: center; 
      margin-top: 1rem;
    }
  
    .footer__socials a {
      font-size: 1rem; 
      padding: 8px;
    }
  
    .footer__col > a {
      font-size: 0.9rem; 
    }
    .footer__bar {
      font-size: 0.75rem; 
    }
    .footer__bar p{
      text-align:left;
}
  }
  

